/* Карточка с игрой */
.gameCard {
  background: var(--color-background-card);
  border-radius: var(--border-radius);
  padding-inline: 36px;
  padding-block: 16px;
  border-radius: var(--border-radius);
  cursor: default;
  margin-bottom: 12px;
}

.gameCard__common {
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr auto;
  grid-template-rows: 1fr;
  grid-template-areas: "away score home arrow";
  gap: 12px;
}

/* Блоки с командами */
.gameCard__team {
  gap: 17px;
}
.gameCard__team--away {
  grid-area: away;
}
.gameCard__team--home {
  grid-area: home;
}
.gameCard__team img {
  width: 48px;
}

/* Счет матча */
.gameCard__score {
  grid-area: score;
}

/* Стрелка dropdown */
.dropDownArrow {
  grid-area: arrow;
  width: 28px;
  height: 29px;
}
.dropDownArrow--desktop {
  align-self: center;
}
.dropDownArrow--mobile {
  display: none;
}

/* Media запросы */
@media screen and (max-width: 1100px) {
  .gameCard {
    padding-block: 8px;
  }
  .gameCard__common {
    gap: 6px;
  }
  .dropDownArrow--desktop {
    display: none;
  }
  .dropDownArrow--mobile {
    display: block;
    align-self: center;
    padding-top: 8px;
    padding-bottom: 0;
  }
  .dropDownArrow--mobile.open {
    transform: rotate(180deg);
    padding-top: 0;
    padding-bottom: 8px;
  }

  .gameCard__details {
    flex-direction: column;
  }
}
@media screen and (max-width: 630px) {
  .gameCard {
    padding: 8px;
  }
  .gameCard__team {
    font-size: 0.85rem;
    gap: 6px;
  }
  .gameCard__team img {
    width: 28px;
  }
}
