/* Header */
.header {
  margin-bottom: 20px;
  gap: 10px;
}

.header__title {
  align-items: center;
  gap: 24px;
}

.header__logo {
  font-family: var(--font-family-title);
  font-weight: var(--font-weight-black);
  font-size: 2rem;
  margin-bottom: 0;
}
.header__controls {
  gap: 10px;
}

/* Кнопка Обновить */
.btn-refresh {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-semi);
  font-size: 18px;
  padding: 15px 40px;
  background-color: var(--color-btn-refresh);
  color: var(--color-text);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
}
.btn-refresh img {
  margin-left: 10px;
  width: 26px;
}

.btn-refresh:hover,
:focus,
:focus-visible {
  background-color: var(--color-btn-refresh-hover);
  outline: none;
}

.btn-refresh.loading,
:disabled {
  background-color: var(--color-btn-refresh-hover);
  opacity: 0.7;
  cursor: not-allowed;
}

/* Анимация кнопки */
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.btn-refresh img.loading {
  animation: loading 1s linear infinite;
}

/* Media запросы */
@media screen and (max-width: 1225px) {
  .header__controls {
    flex-direction: column-reverse;
    align-items: end;
    justify-content: center;
  }
  .header__title {
    flex-direction: column;
    align-items: start;
  }
}

@media screen and (max-width: 815px) {
  .header {
    flex-direction: column;
    align-items: center;
  }
  .header__title {
    align-items: center;
    width: 100%;
  }
  .header__controls {
    align-items: center;
    width: 100%;
  }
  .btn-refresh {
    width: 100%;
  }
}
