/* Карточка игрока */
.player {
  background-color: var(--color-background-card-details);
  padding: 8px 24px;
  border-radius: var(--border-radius);

  flex-grow: 1;
  margin-right: 8px;
}
.player:last-of-type {
  margin-right: 0px;
}
/* Отступ от аватара */
.player__username img {
  margin-right: 8px;
}
